@mixin insta-color{
  background: -webkit-linear-gradient(40deg, #f1dc06 20%, #d8265e, #6700aa 75%);
  background: -moz-linear-gradient(40deg, #f1dc06 20%, #d8265e, #6700aa 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

$color: #999999;
$cl-title: #000000;
$cl-hover: #000000;
$facebook: #3460a0;
$twitter: #55adee;
$google: #cc0000;
$p: #d8446e;
$mr-b: 24px;

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.active{
  color: black;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
:focus {
  outline: none;
}
h1{
  font-size: 36px;
}
h2{
  font-size: 32px;
  color: $cl-title;
}
h3{
  font-size: 28px;
  color: $cl-title;
}
h4{
  font-size: 21px;
  font-weight: bold;
  color: $cl-title;
}

img {
  max-width: 100%;
  height: auto;
}
.btn {
  cursor: pointer;
  background: black;
  font-weight: bold;
  font-size: 14px;
  color: white;
  padding: 9px 55px;
  border: none;
  transition: 0.3s;
  &:hover {
    background: $color;
  }
}
.btn-medium {
  cursor: pointer;
  background: black;
  font-weight: bold;
  font-size: 14px;
  color: white;
  padding: 9px 13px;
  border: none;
  transition: 0.3s;
  &:hover {
    background: $color;
    color: white;
  }
}


a {
  outline: none;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.wrapper{
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-size: 0;
}
.container{
  max-width: 1248px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  color: $color;
}
.container-header{
  padding-top: 30px;
  padding-bottom: 30px;
}
.logo a{
  font-family: 'Oswald', sans-serif;
  color: $cl-title;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 4px;
}
.container-header, .container-logo, .navbar, .navbar-link, .icon-link, .footer-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo{
  margin: 0 15px;
  a:hover{
    color: $color;
  }
}
.navbar-link a:hover{
  color: $cl-hover;
}
.navbar-toggler {
  width: 40px;
  height: 30px;
  border: none;
  background: white;
  cursor: pointer;
  span{
    display: block;
    background: $cl-title;
    height: 3px;
    width: 100%;
    margin-bottom: 5px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.menu-active {
  position: relative;
  span:last-child {
    transform: rotate(45deg);
  }
  span:first-child {
    transform: rotate(-45deg);
  }
  span:nth-child(2) {
    display: none;
  }
}
.menu-active span:first-child, .menu-active span:last-child{
  position: absolute;
  top: 50%;
}
.navbar-link{
  flex-wrap: wrap;
  li{
    margin-right: 50px;
  }
  a{
    font-size: 18px;
    font-weight: 400;
    color: $color;
  }
  .active{
    color: $cl-hover;
  }
}
.icon-link{
  position: relative;
  li{
    margin-right: 50px;
    &:last-child  {
      background: #cc0000;
      border-radius: 50%;
      font-size: 18px;
      height: 1.5em;
      width: 1.5em;
      margin-right: 0;
      line-height: 0;
      align-items: center;
      display: flex;
      justify-content: center;
      transition: 0.3s;
      a{
        color: white;
        font-size: 15px;
      }
    }
  }
  span{
    font-weight: bolder;
  }
  a{
    font-size: 18px;
    color: $cl-title;
    &:hover{
      color: $color;
    }
  }
}
.container-menu{
  position: relative;
}
.menu-toggler{
  z-index: 1;
  top: -20px;
  margin-bottom: 15px;
  position: absolute;
  display: none;
  background: rgb(245, 245, 245);
  border-radius: 15px;
  padding: 0 50px;
  width: 300px;
  text-align: center;
  .navbar-link{
    display: block;
    li{
      padding:20px 0;
      margin-right: 0;
      border-bottom: solid 1px $color;
      &:last-child{
        border: none;
      }
    }
  }
}
.user-place_form{
  z-index: 2;
  display: none;
  right: -50px;
  top: 37px;
  background: rgba(153, 153, 153, 0.5);
  width: 232px;
  height: 50px;
  border-radius: 5px;
  position: absolute;
  text-align: center;
  padding-top: 10px;
  .user-place{
    font-size: 15px;
    border-radius: 5px;
    border: solid 1px gainsboro;
    color: #999999;
    padding: 5px;
  }
}
.container-footer{
  padding-bottom: 95px;
  padding-top: 95px;
  line-height: 2;
  margin: 0 -20px;
}
.footer-item{
  margin: 0 20px 30px 20px;
}
.footer-list{
  font-size: 15px;
  a{
    color: $color;
    &:hover{
      color: $cl-hover;
    }
  }
}
.footer-icon{
  li{
    margin-right: 20px;
    &:last-child{
      margin-right: 0;
    }
  }
  .facebook:hover{
    color: $facebook;
  }
  .twitter:hover{
    color: $twitter;
  }
  .google:hover{
    color: $google;
  }
  .p:hover{
    color: $p;
  }
  .insta:hover{
    @include insta-color;
  }
}
.main-slider {
  .slider {
    background-image: url("../images/2-layers.png")
  }
  .slider, .slider-men {
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
    height: 480px;
    .container-description {
      color: white;
      text-align: center;
    }
    .container-slider {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
    }
  }
  .slider-men {
    background-image: url("../images/1-layers.png");
  }
  .slick-dots li button {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: solid 2px white;
    cursor: pointer;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
  .slick-dots {
    bottom: 20px;
  }
  .slick-dots li button:before {
    content: '';
  }
  .slick-dots .slick-active, .slick-dots .slick-active button:before {
    background-color: white;
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }
  .slick-next:before, .slick-prev:before {
    opacity: 1;
    font-size: 28px;
  }
  .slick-next, .slick-prev {
    top: 230px;
    height: 50px;
  }
  .slick-next {
    right: 15px;
    &:before {
      content: "\276f";
    }
  }
  .slick-prev {
    left: 15px;
    &:before {
      content: "\276e";
    }
  }
  .slick-list {
    z-index: -1;
  }
  .container-description {
    width: 70%;
    margin: 0 auto;
    h1 {
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 20px;
      &:before {
        position: absolute;
        left: 50%;
        margin-left: -33px;
        bottom: 0;
        content: '';
        width: 66px;
        background: white;
        height: 2px;
      }
    }
    p {
      font-size: 20px;
      font-weight: bolder;
    }
  }
}
/*Модальное Окно */
#overlay, #overlay-product{
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background: rgba(254, 254, 254, 0.7);
  -webkit-animation: fade .6s;
  -moz-animation: fade .6s;
  animation: fade .6s;
  overflow: auto;
}
.popup {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 80%;
  max-width: 770px;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  .popup-img {
    width: 40%;
    height: 360px;
    overflow: hidden;
    font-size: 0;
    img {
      max-width: none;
      height: auto;
    }
  }
  .popup-description {
    text-align: center;
    padding: 5px 40px;
    p {
      margin-bottom: 40px;
    }
    .discount {
      color: $color;
      padding: 5px 10px;
      background: #ffdbdb;
      display: inline-block;
    }
    .popup-title {
      padding-bottom: 18px;
      margin-bottom: 18px;
      font-size: 16px;
      position: relative;
      &:before {
        position: absolute;
        left: 50%;
        margin-left: -33px;
        bottom: 0;
        content: '';
        width: 66px;
        background: black;
        height: 1px;
      }
    }
    width: 60%;
    font-size: 14px;
    line-height: 1.7;
  }
  .close {
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    position: absolute;
    border: none;
    background: white;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    &:hover{
      background: $color;
    }
    &:hover:before{
      color: white;
    }
    &:before {
      color: black;
      content: "\2613";
      font-size: 18px;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      transition: 0.3s;
    }
  }
  .popup-group {
    font-size: 0;
    height: 50px;
    .email-popup {
      cursor: pointer;
      font-size: 14px;
      width: 70%;
      color: $color;
      border: solid 1px $color;
      padding: 0 10px;
      height: 100%;
    }
    .btn-popup {
      cursor: pointer;
      font-size: 14px;
      width: 30%;
      padding: 0 10px;
      background: white;
      color: black;
      border: solid 1px black;
      height: 100%;
      &:hover{
        background: $color;
      }
    }
  }
}

#overlay-product {
  display: block;
}
.card-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
  .card-item{
    width: calc(33.3% - 20px);
    font-size: 16px;
    color: $color;
    margin: 0 10px 25px 10px;
    p{
      margin-bottom: $mr-b;
    }
    .card-img{
      overflow: hidden;
      margin-bottom: $mr-b;
      img{
        max-width: none;
        height: auto;
        width: 100%;
      }
    }
    .btn{
      margin-bottom: $mr-b;
    }
  }
}
.title{
  color: black;
  margin-bottom: 25px;
}
.section-brends{
  background-image: url("../images/slider-brends/fon.png");
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
  margin-bottom: 45px;
  .slider{
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0 20px;
  }
  .slick-list {
    margin: 30px;
  }
  .slick-next:before, .slick-prev:before {
    opacity: 1;
    font-size: 28px;
  }
  .slick-next, .slick-prev {
    height: 50px;
  }
  .slick-next {
    right: 0;
    &:before {
      content: "\276f";
    }
  }
  .slick-prev {
    left: 0;
    &:before {
      content: "\276e";
    }
  }
}
.grid{
  form{
    display: flex;
    margin: 0 -10px;
  }
  .email{
    width: 65%;
    font-size: 15px;
    font-style: italic;
    color: #b5b9bd;
    padding: 5px;
    cursor: pointer;
    border: solid 1px white;
    border-radius: 5px;
  }
  .btn{
    width: 35%;
    font-size: 15px;
    background: white;
    color: black;
  }
}

.grid-sizer,
.grid-item {
  padding: 10px 10px;
  width: 33.333%;
}
.grid-item img {
  display: block;
  width: 100%;
}
.container-men{
  margin-bottom: 30px;
  h2{
    margin-bottom: 30px;
  }
  p{
    font-size: 20px;color: black;
  }
}
.breadcrumbs-list{
  p{
    align-items: center;
    display: flex;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul{
    display: flex;
    align-items: center;
    justify-content: center;}
  .active{
    font-weight: bold;
  }
  p, a{
    font-size: 16px;
    color: black;
  }
}
.breadcrumbs-nav{
  li {
    margin: 8px;
    position: relative;
    &:before {
      position: absolute;
      content: "/";
      color: black;
      font-size: 16px;
      font-weight: bold;
      left: -10px;
    }
    &:first-child:before{
      content: '';
    }
  }
}
.container-numpage, .breadcrumbs-product{
  ul{
    p{
      display: flex;
      align-items: center;
    }
    display: flex;
    align-items: center;
    float: right;
    li{
      span:first-child{
        margin-right: 8px;
      }
      span:last-child{
        margin-left: 8px;
      }
      position: relative;
      margin: 0 10px;
      &:before {
        position: absolute;
        content: "/";
        color: black;
        font-size: 16px;
        font-weight: bold;
        left: -13px;
      }
      &:first-child:before{
        content: '';
      }
    }
  }
  a{
    font-size: 16px;
    color: black;
  }
}
.container-breadcrumbs, .container-breadcrumbs{
  margin-bottom: 20px;
}
.breadcrumbs-product{
  display: flex;
  .filter{
    margin-right: 40px;
    span{
      margin-right: 8px;
    }
  }
}
.colproduct{
  margin-right: 20px;
}
.breadcrumbs-filters, .filter{
  cursor: pointer;
}
.container_product-main{
  margin-bottom: 20px;
  display: flex;
  .product-main_sidebar{
    width: calc(30% - 45px);
    margin-right: 45px;
  }
  .product-main_body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
  }
  .product-main_close{
    display: none;
  }
  .product-main_active{
    width: 100%;
  }
}
#overlay-product{
  display: none;
}
.card-product_wrap{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .card-product{
    margin: 0 10px 20px 10px;
    width: calc(33.3% - 20px);
    cursor: pointer;
    .card-body{
      position: relative;
    }
    .card-hover{
      display: none;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      .card-hover_body{
        height: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 10px 20px;
        span{
          font-size: 30px;
          color: $color;
        }
      }
      .card-hover_footer{
        text-align: center;
        padding: 15px;
        background: rgba(255, 255, 255, 0.8);
        font-size: 18px;
        color: black;
      }
    }
    &:hover .card-hover{
      display: flex;
    }
    .card-image{
      height: 320px;
      overflow: hidden;
      position: relative;
      margin-bottom: 15px;
      img{
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        width: 100%;
      }
    }
    .card-footer{
      font-size: 15px;
      .description{
        color: $cl-title;
      }
    }
  }
  .card-product_active{
    width: calc(25% - 20px);
  }
}
.card-shoping{
  font-size: 0;
  .popup-description{
    width: 50%;
  }
  .card-shoping_images{
    width: 50%;
    font-size: 0;
  }
  .card-shoping_color{
    margin-bottom: 10px;
  }
  .card-shoping_size{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    span{
      margin-right: 15px;
    }
  }
  .color{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    li{
      margin: 0 5px;
      width: 24px;
      height: 24px;
    }
    .grey{
      background-color: #dddad5;
    }
    }
  span{
    color: $cl-title;
    font-weight: bold;
  }

  .btn{
    width: 100%;
  }
  .card-shoping-description{
    font-size: 14px;
    padding: 0 40px;
    width: 50%;
  }
  .content{
    border-bottom: solid 1px #888888;
    padding-bottom: 10px;
    margin-bottom: 24px;
  }
  p {
    color: $color;
    font-size: 14px;
    text-align: justify;
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .title {
    h5 {
      font-size: 18px;
    }
  }
  color: $color;
}
.counter {
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: black;
  margin-right: 5px;
  .number{
    width: 20px;
    border: none;
  }
  p{
    color: $cl-title;
    margin-bottom: 0;
    margin-right: 10px;
  }
  .plus, .minus{
    cursor: pointer;
  }
}
.size ul {
  display: flex;
  li {
    margin-right: 5px;
  }
  input {
    display: none;
  }
  input[type=radio] + label{
    position: relative;
    cursor: pointer;
    margin-right: 12px;
  }
  }
  input[type=radio]:checked + label{
    color: black;
    cursor: pointer;
    &:before{
      content: '';
      position: absolute;
      height: 26px;
      width: 26px;
      right: 50%;
      top: 50%;
      margin-top: -13px;
      margin-right: -14px;
      border: solid 1px black;
      border-radius: 50%;
  }
}
.size{
  margin-bottom: 40px;
}

.card-page{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .btn{
    padding: 14px 55px;
  }
}
.card-page_image{
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}
.item_image{
  width: calc(33.3% - 10px);
  margin: 5px;
  position: relative;
  overflow: hidden;
  height: 300px;
  img{
    max-width: none;
    position: absolute;
    top: -50%;
    left: -50%;
    bottom: -50%;
    right: -50%;
    margin: auto;
    height: 100%;
  }
}
.card-shoping_dutton{
text-align: right;
  margin-bottom: 20px;
}
.grid .btn {
  width: 35%;
  font-size: 15px;
  background: white;
  color: black;
  padding: 9px 14px;
  transition: 0.3s;
  &:hover{
    background: $color;
    color: white;
  }
}
.logo-brend{
  width: 65px;
  margin: 10px auto;
}
.card-page{
  .card-shoping-description{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .logo-brend{
    width: 65px;
    margin: 0 0;
    float: right;
  }
  .card-shoping_nav{
    margin-bottom: 20px;
    ul{
      display: flex;
    }
    li{
      margin-right: 20px;
    }
    a{
      color: $color;
    }
    .active{
      color: black;
      font-weight: bold;
    }
  }
}
.slick-product{
  .slick-product_image{
    min-height: 550px;
    overflow: hidden;
    position: relative;
    img{
      position: absolute;
      left: 0;
      top: 0;
      max-width: none;
      width: auto;
      max-height: 100%;
      height: 100%;
    }
  }
  .slick-next:before, .slick-prev:before {
    opacity: 1;
    font-size: 18px;
  }
  .slick-next, .slick-prev {
    height: 50px;
  }
  .slick-next {
    right: 20px;
    &:before {
      content: "\276f";
    }
  }
  .slick-prev {
    left: 20px;
    z-index: 1;
    &:before {
      content: "\276e";
    }
  }
  .slick-prev:before, .slick-next:before {
    color: black;
  }
  .slide-count-wrap{
    font-size: 16px;
    color: black;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0 20px;
    background: white;
    border-radius: 15px;
}
}

ul#menu, ul#menu ul {
  cursor: pointer;
  font-size: 18px;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul#menu li {
  margin-top: 1px;
}
ul#menu li a,ul#menu li span {
  display: block;
  color: black;
  font-weight: bold;
}

ul#menu li ul li a:hover {
  background: #AAAAAA;
  border-left: 5px #000000 solid;
  padding-left: 15px;
}
.menu-sidebar_close{
  display: none;
}
.menu-sidebar>li{
  padding: 10px 0 10px 0;
  border-bottom: solid 1px #888888;
}
.menu-sidebar{
  .brand{
    padding: 10px 0 0 0;
    input {
      display: none;
    }
    input[type=checkbox] + label{
      position: relative;
      cursor: pointer;
      margin-left: 30px;
    }
    input[type=checkbox]:checked + label{
      font-weight: bold;
      color: black;
      &:before{
        border: none;
        content: "\2613";
        position: absolute;
        color: black;
        left: -25px;
        font-size: 25px;
        top: 5px;
      }
    }
    .wrap-brend{
      height: 340px;
      overflow-y: scroll;
      overflow-x: visible;
    }
    span{
      padding-bottom: 10px;
      display: block;
      border-bottom: solid 1px #888888;
    }
  }
  .size{
    display: flex;
    li {
      margin-right: 5px;
    }
    input {
      display: none;
    }
    input[type=checkbox] + label{
      position: relative;
      cursor: pointer;
      margin-right: 12px;
    }
  }
  input[type=checkbox]:checked + label{
    color: black;
    &:before{
      content: '';
      position: absolute;
      height: 26px;
      width: 26px;
      right: 50%;
      top: 50%;
      margin-top: -13px;
      margin-right: -14px;
      border: solid 1px black;
      border-radius: 50%;
    }
  }
}
.product-main_sidebar{
  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    background-color: #bcbcbc;
    border-radius: 10px;

  }

  ::-webkit-scrollbar-thumb {
    height: 10px;
    border-radius: 10px;
    background-color: #434343;
    &:hover{
      background-color: #777;
    }
  }
}
.breadcrumbs-filters{
  display: none;
  span{
    margin-left: 8px;
  }
}
.breadcrumbs-filters_active{
  display: block;
}
.filter_close{
  display: none;
}
.container-prevnext{
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  a{
    color: black;
    display: flex;
    align-items: center;
  }
  span{
    font-weight: bold;
    font-size: 25px;
  }
}
.card-page{
  margin-bottom: 40px;
}
.filter_close{
  display: none;
}



/*max-width: 991px*/
@media (max-width: 991px) {
  .card-product_wrap {
    .colproduct {
      margin-right: 0;
    }
    .card-product {
      width: calc(50% - 20px);
    }
    .card-product_active {
      width: calc(33.3% - 20px);
    }
  }
  .breadcrumbs-product {
    .filter {
    margin-right: 20px;
  }
  }
  .item_image{
    width: calc(50% - 10px);
  }
  .container_product-main{
    .product-main_sidebar {
      margin-right: 20px;
    }
  }
}

/*max-width: 768px*/
@media (max-width: 768px) {
  .navbar-link {
    display: none;
  }
  .icon-link {
    li {
      margin-right: 20px;
    }
    a {
      font-size: 12px;
    }
  }
  .menu-toggler {
    position: static;
    width: 100%;
  }
  .container-footer {
    justify-content: space-around;
  }
  .main-slider {
    .slider, .slider-men {
      height: 300px;
    }
    .slick-next:before, .slick-prev:before {
      font-size: 20px;
    }
    .slick-next, .slick-prev {
      top: 140px;
    }
    .slick-dots {
      bottom: 5px;
    }
  }
  .container-description {
    h1 {
      font-size: 25px
    }
  }
  .user-place_form {
    right: -20px;
    bottom: 0;
  }
  .popup {
    display: block;
    .popup-img, .popup-description {
      width: 100%;
    }
    .popup-img {
      height: 200px;
      margin-bottom: 20px;
      img {
        width: 100%;
      }
    }
    .popup-description {
      p {
        margin-bottom: 20px;
      }
      padding: 5px 20px;
      font-size: 12px;
    }

    .popup-group {
      margin-bottom: 20px;
      .btn-popup, .email-popup {
        font-size: 10px;
      }
      .email-popup {
        border-right: none;
      }
    }
  }
  .card-wrap {
    .card-item {
      width: calc(50% - 30px);
    }
  }
  .grid {
    .grid-sizer,
    .grid-item {
      width: 50%;
    }
  }
  .popup {
    top: 10%;
    transform: translate(-50%, 0);
  }
  .container_product-main {
    display: block;
    .product-main_sidebar {
      display: none;
      width: 100%;
      background: rgba(255, 255, 255, 0.95);
      position: absolute;
      z-index: 1;
    }
    .product-main_body {
      width: 100%;
    }
    .card-product_wrap {
      .card-product_active {
        width: calc(50% - 20px);
      }
    }
    .product-main_close {
      display: none;
    }
    .product-main_active {
      width: 100%;
    }
  }
  .title, .card-btn {
    text-align: center;
  }
  .breadcrumbs-list, .breadcrumbs-product {
    display: block;
  }
  .breadcrumbs-list ul {
    width: 100%;
  }
  .breadcrumbs-product {
    position: relative;
  }
  .filter {
    position: absolute;
    top: 65px;
    right: 0;
  }
  .card-shoping {
    .card-shoping-description {
      width: 100%;
    }
    .card-shoping_images {
      margin-bottom: 20px;
      width: 100%;
    }
  }
  .card-shoping_dutton {
    text-align: center;
    margin-bottom: 30px;
  }
  .card-page {
    .logo-brend {
      width: 65px;
      float: none;
      margin: 0 auto;
    }
    .btn-medium {
      width: 100%;
    }
  }
  .container_product-main {
    .product-main_sidebar {
      margin-right: 0;
    }
  }
  ul#menu {
    padding: 0 50px 50px 50px;
  }
  .colproduct, .card-hover_footer {
    display: none;
  }
  .breadcrumbs-filters{
    display: block;
  }
  .item_image{
    width: calc(33.3% - 10px);
  }
}






/*max-width: 480px*/
@media (max-width: 480px){
  .card-wrap{
    .card-item{
      width: calc(100% - 20px);
      text-align: justify;
    }
  }
  .grid {
    text-align: center;
    .grid-item,
    .grid-sizer{
      width: 100%;
      padding: 10px 0;
    }
    .email {
      text-align: center;
    }
  }
  .container_product-main{
    .card-product_wrap{
      .card-product{
        width: calc(100% - 20px);
      }
      .card-product_active{
        width: calc(100% - 20px);
      }
    }
  }
  .item_image{
    width: calc(50% - 10px);
  }
}




