@charset "UTF-8";
* {
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

:focus {
  outline: none; }

img {
  max-width: 100%;
  height: auto; }

.btn {
  background: black;
  font-weight: bold;
  font-size: 14px;
  color: white;
  padding: 9px 13px;
  border: none; }
  .btn .medium-btn {
    padding: 14px 55px; }
  .btn .big-btn {
    width: 100%; }

a {
  outline: none;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s; }

.wrapper {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-size: 0; }

.container {
  max-width: 1248px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  color: #999999; }

h1 {
  font-size: 36px; }

.container-header {
  padding-top: 30px;
  padding-bottom: 30px; }

.logo a {
  font-family: 'Oswald', sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 4px; }

.container-header, .container-logo, .navbar, .navbar-link, .icon-link, .footer-icon {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.container-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.logo {
  margin: 0 15px; }
  .logo a:hover {
    color: #999999; }

.navbar-link a:hover {
  color: #000000; }

.navbar-toggler {
  border: none;
  background: white;
  cursor: pointer;
  width: 40px; }
  .navbar-toggler span {
    display: block;
    background: #000000;
    height: 3px;
    width: 100%;
    margin-bottom: 5px; }
    .navbar-toggler span:last-child {
      margin-bottom: 0; }

.menu-active {
  position: relative; }
  .menu-active span:last-child {
    transform: rotate(45deg); }
  .menu-active span:first-child {
    transform: rotate(-45deg); }
  .menu-active span:nth-child(2) {
    display: none; }

.menu-active span:first-child, .menu-active span:last-child {
  position: absolute;
  top: 50%; }

.navbar-link {
  flex-wrap: wrap; }
  .navbar-link li {
    margin-right: 50px; }
  .navbar-link a {
    font-size: 18px;
    font-weight: 400;
    color: #999999; }
  .navbar-link .active {
    color: #000000; }

.icon-link {
  position: relative; }
  .icon-link li {
    margin-right: 50px; }
    .icon-link li:last-child {
      background: #cc0000;
      border-radius: 50%;
      font-size: 18px;
      height: 1.5em;
      width: 1.5em;
      margin-right: 0;
      line-height: 0;
      align-items: center;
      display: flex;
      justify-content: center;
      transition: 0.3s; }
      .icon-link li:last-child a {
        color: white;
        font-size: 15px; }
  .icon-link span {
    font-weight: bolder; }
  .icon-link a {
    font-size: 18px;
    color: #000000; }
    .icon-link a:hover {
      color: #999999; }

.container-menu {
  position: relative; }

.menu-toggler {
  z-index: 1;
  top: -20px;
  margin-bottom: 15px;
  position: absolute;
  display: none;
  background: whitesmoke;
  border-radius: 15px;
  padding: 0 50px;
  width: 300px;
  text-align: center; }
  .menu-toggler .navbar-link {
    display: block; }
    .menu-toggler .navbar-link li {
      padding: 20px 0;
      margin-right: 0;
      border-bottom: solid 1px #999999; }
      .menu-toggler .navbar-link li:last-child {
        border: none; }

.user-place_form {
  display: none;
  right: -50px;
  top: 37px;
  background: rgba(153, 153, 153, 0.5);
  width: 232px;
  height: 50px;
  border-radius: 5px;
  position: absolute;
  text-align: center;
  padding-top: 10px; }
  .user-place_form .user-place {
    font-size: 15px;
    border-radius: 5px;
    border: solid 1px gainsboro;
    color: #999999;
    padding: 5px; }

.container-footer {
  padding-bottom: 95px;
  padding-top: 95px;
  line-height: 2;
  margin: 0 -20px; }

.footer-item {
  margin: 0 20px 30px 20px; }
  .footer-item h4 {
    color: #000000;
    font-weight: 700; }

.footer-list {
  font-size: 15px; }
  .footer-list a {
    color: #999999; }
    .footer-list a:hover {
      color: #000000; }

.footer-icon li {
  margin-right: 20px; }
  .footer-icon li:last-child {
    margin-right: 0; }
.footer-icon .facebook:hover {
  color: #3460a0; }
.footer-icon .twitter:hover {
  color: #55adee; }
.footer-icon .google:hover {
  color: #cc0000; }
.footer-icon .p:hover {
  color: #d8446e; }
.footer-icon .insta:hover {
  background: -webkit-linear-gradient(40deg, #f1dc06 20%, #d8265e, #6700aa 75%);
  background: -moz-linear-gradient(40deg, #f1dc06 20%, #d8265e, #6700aa 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.main-slider .slider {
  background-image: url("../images/2-layers.png"); }
.main-slider .slider, .main-slider .slider-men {
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
  height: 480px; }
  .main-slider .slider .container-description, .main-slider .slider-men .container-description {
    color: white;
    text-align: center; }
  .main-slider .slider .container-slider, .main-slider .slider-men .container-slider {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center; }
.main-slider .slider-men {
  background-image: url("../images/1-layers.png"); }
.main-slider .slick-dots li button {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: solid 2px white;
  cursor: pointer; }
.main-slider .slick-dotted.slick-slider {
  margin-bottom: 0; }
.main-slider .slick-dots {
  bottom: 20px; }
.main-slider .slick-dots li button:before {
  content: ''; }
.main-slider .slick-dots .slick-active, .main-slider .slick-dots .slick-active button:before {
  background-color: white;
  height: 15px;
  width: 15px;
  border-radius: 50%; }
.main-slider .slick-next:before, .main-slider .slick-prev:before {
  opacity: 1;
  font-size: 28px; }
.main-slider .slick-next, .main-slider .slick-prev {
  top: 230px;
  height: 50px; }
.main-slider .slick-next {
  right: 15px; }
  .main-slider .slick-next:before {
    content: "\276f"; }
.main-slider .slick-prev {
  left: 15px; }
  .main-slider .slick-prev:before {
    content: "\276e"; }
.main-slider .slick-list {
  z-index: -1; }
.main-slider .container-description {
  width: 70%;
  margin: 0 auto; }
  .main-slider .container-description h1 {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px; }
    .main-slider .container-description h1:before {
      position: absolute;
      left: 50%;
      margin-left: -33px;
      bottom: 0;
      content: '';
      width: 66px;
      background: white;
      height: 2px; }
  .main-slider .container-description p {
    font-size: 20px;
    font-weight: bolder; }

/*╨Ь╨╛╨┤╨░╨╗╤М╨╜╨╛╨╡ ╨Ю╨║╨╜╨╛ */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background: rgba(254, 254, 254, 0.7);
  -webkit-animation: fade .6s;
  -moz-animation: fade .6s;
  animation: fade .6s;
  overflow: auto; }

.popup {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 80%;
  max-width: 800px;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25); }
  .popup .popup-img {
    width: 40%;
    height: 360px;
    overflow: hidden;
    font-size: 0; }
    .popup .popup-img img {
      max-width: none;
      height: auto; }
  .popup .popup-description {
    text-align: center;
    padding: 5px 40px;
    width: 60%;
    font-size: 14px;
    line-height: 1.7; }
    .popup .popup-description p {
      margin-bottom: 40px; }
    .popup .popup-description .discount {
      color: #999999;
      padding: 5px 10px;
      background: #ffdbdb;
      display: inline-block; }
    .popup .popup-description .popup-title {
      padding-bottom: 18px;
      margin-bottom: 18px;
      font-size: 16px;
      position: relative; }
      .popup .popup-description .popup-title:before {
        position: absolute;
        left: 50%;
        margin-left: -33px;
        bottom: 0;
        content: '';
        width: 66px;
        background: black;
        height: 1px; }
  .popup .close {
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    position: absolute;
    border: none;
    background: white;
    cursor: pointer; }
    .popup .close:before {
      color: black;
      content: "\2613";
      font-size: 18px;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      transition: 0.3s; }
  .popup .popup-group {
    font-size: 0; }
    .popup .popup-group .email-popup {
      cursor: pointer;
      font-size: 14px;
      width: 70%;
      color: #999999;
      border: solid 1px #999999;
      padding: 10px; }
    .popup .popup-group .btn-popup {
      cursor: pointer;
      font-size: 14px;
      width: 30%;
      padding: 10px;
      background: white;
      border: solid 1px black; }

.wrap-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px; }
  .wrap-card .item-card {
    width: calc(33.3% - 30px);
    font-size: 16px;
    color: #999999;
    margin: 0 15px 25px 15px; }
    .wrap-card .item-card p {
      margin-bottom: 24px; }
    .wrap-card .item-card .card-img {
      overflow: hidden;
      margin-bottom: 24px; }
      .wrap-card .item-card .card-img img {
        max-width: none;
        height: auto;
        width: 100%; }
    .wrap-card .item-card .btn {
      margin-bottom: 24px; }

.title {
  color: black;
  margin-bottom: 25px; }
  .title h2 {
    font-size: 32px;
    font-weight: bolder; }
  .title h3 {
    font-size: 28px; }

.section-brends {
  background-image: url("../images/slider-brends/fon.png");
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden; }
  .section-brends .slider {
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0 20px; }
  .section-brends .slick-prev:before, .section-brends .slick-next:before {
    opacity: 0; }

/*max-width: 768px*/
@media (max-width: 768px) {
  .navbar-link {
    display: none; }

  .icon-link li {
    margin-right: 20px; }
  .icon-link a {
    font-size: 12px; }

  .menu-toggler {
    position: static;
    width: 100%; }

  .container-footer {
    justify-content: space-around; }

  .slider, .slider-men {
    height: 300px; }

  .slick-next:before, .slick-prev:before {
    font-size: 20px; }

  .slick-next, .slick-prev {
    top: 140px; }

  .slick-dots {
    bottom: 5px; }

  .container-description h1 {
    font-size: 25px; }

  .user-place_form {
    right: -20px;
    bottom: 0; }

  .popup {
    display: block; }
    .popup .popup-img {
      height: 200px;
      width: 100%;
      margin-bottom: 20px; }
      .popup .popup-img img {
        width: 100%; }
    .popup .popup-description {
      width: 100%;
      padding: 5px 20px;
      font-size: 12px; }
      .popup .popup-description p {
        margin-bottom: 20px; }
    .popup .popup-group {
      margin-bottom: 20px; }
      .popup .popup-group .btn-popup, .popup .popup-group .email-popup {
        font-size: 10px; }

  .wrap-card .item-card {
    width: calc(50% - 30px); } }
/*max-width: 480px*/
@media (max-width: 480px) {
  .wrap-card .item-card {
    width: calc(100% - 30px);
    text-align: justify; } }

/*# sourceMappingURL=style.css.map */
